@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Roboto', sans-serif;
  --positive-color: #00FFC4;
  --negative-color: #E53E3E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A202C;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
